<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    
        h1 {
            color: #333;
        }
    
        form {
            max-width: 400px;
            margin: 0 auto;
        }
    s
        label {
            display: block;
            margin-bottom: 10px;
            color: #555;
        }
    
        select,
        textarea,
        input:not([readonly]) {
            background-color: #f2f2f2;
        }
    
        select {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }
    
        textarea,
        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }
    
        button, a {
            display: inline-block;
            padding: 10px;
            background-color: #4CAF50;
            color: #fff;
            text-decoration: none;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
    
        button:hover, a:hover {
            background-color: #45a049;
        }
    
        .profile-container img {
            margin-left: 50px;
            max-width: 100%;
            border-radius: 50%;
        }
    </style>
    
</head>
<body>
    <h1>Страница заявки</h1>
    <form method="post" action="/profile/{{ user_data.id }}/edit" id="profileForm">
        <div class="profile-container" id="profileContainer">
            {% if user_data.gender == "male" %}
                <img src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png" alt="User Avatar" width="300" height="300">
            {% elif user_data.gender == "female" %}
                <img src="https://w7.pngwing.com/pngs/129/292/png-transparent-female-avatar-girl-face-woman-user-flat-classy-users-icon.png" alt="User Avatar" width="300" height="300">
            {% endif %}
        </div>
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" value="{{ user_data.name }}" required>
        <label for="sur_name">Фамилия:</label>
        <input type="text" id="sur_name" name="sur_name" value="{{ user_data.sur_name }}" required>
        <label for="phone_number">Номер телефона:</label>
        <input type="text" id="phone_number" name="phone_number" value="{{ user_data.phone_number }}" required>
        <label for="about_me">О себе:</label>
        <input type="text" id="about_me" name="about_me" value="{{ user_data.about_me }}" required>
        <label for="birthdate">Дата рождения:</label>
        <input type="date" id="birthdate" name="birthdate" value="{{ user_data.birthdate }}" required>
        <label for="education">Образование:</label>
        <input type="text" id="education" name="education" value="{{ user_data.education }}" required>

        <a href="/request/{{user_data.id}}" class="nav-button" id="backBtn">Отмена</a>
        <button type="button" onclick="toggleEditMode()" id="editBtn">Проверить и отправить</button>
        <button type="button" onclick="cancelEdit()" style="display: none;" id="cancelBtn">Назад</button>
        <input type="hidden" name="profile_change" value="true">
        <button type="submit" name="submit_profile" style="display: none;" id="submitBtn">Отправить заявку</button>
    </form>

    <script>
        async function submitProfileForm() {
            const form = document.getElementById('profileForm');
            const formData = new FormData(form);
        
            const profileData = {
                name: formData.get('name'),
                sur_name: formData.get('sur_name'),
                phone_number: formData.get('phone_number'),
                about_me: formData.get('about_me'),
                education: formData.get('education'),
                birthdate: formData.get('birthdate'),
                profile_change: formData.get('profile_change'),
            };
        
            const urlSearchParams = new URLSearchParams(profileData);
            const response = await fetch(`/profile/${user_data.id}/edit`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: urlSearchParams,
            });
        
            if (response.ok) {
                console.log('Изменения успешно отправлены менеджеру');
            } else {
                console.error('Не удалось отправить изменения менеджеру');
            }
        }
        function toggleEditMode() {
            const formElements = document.getElementById('profileForm').elements;
            for (let i = 0; i < formElements.length; i++) {
                formElements[i].readOnly = !formElements[i].readOnly;
            }

            const editButton = document.getElementById('editBtn');
            const submitButton = document.getElementById('submitBtn');
            const backButton = document.getElementById('backBtn');
            const cancelButton = document.getElementById('cancelBtn');

            if (editButton.style.display !== 'none') {
                editButton.style.display = 'none';
                submitButton.style.display = 'inline-block';
                backButton.style.display = 'none';
                cancelButton.style.display = 'inline-block';
            } else {
                editButton.style.display = 'inline-block';
                submitButton.style.display = 'none';
                backButton.style.display = 'inline-block';
                cancelButton.style.display = 'none';
            }
        }

        function cancelEdit() {
            const formElements = document.getElementById('profileForm').elements;
            for (let i = 0; i < formElements.length; i++) {
                formElements[i].readOnly = false; 
            }

            const editButton = document.getElementById('editBtn');
            const submitButton = document.getElementById('submitBtn');
            const backButton = document.getElementById('backBtn');
            const cancelButton = document.getElementById('cancelBtn');

            editButton.style.display = 'inline-block';
            submitButton.style.display = 'none';
            backButton.style.display = 'inline-block';
            cancelButton.style.display = 'none';
        }
    </script>
</body>
</html>
