<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            min-height: 100vh;
            flex-direction: column;

        }
        .content {
            flex: 1;
        }
        .header {
            background-color: green;
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 50px 0px 0px;
        }
        .footer {
            background-color: #dddddd;
            padding: 20px;
            text-align: left;
            color: #333333;
            position: fixed;
            bottom: 0;
            width: 100%;
            box-sizing: border-box;
        }

        .register-link {
            margin-left: auto;
            text-decoration: none;
            color: white;
            font-size: 40px;
            margin: 0;
        }

        .register-link1 {
            margin-left: auto;
            text-decoration: none;
            color: black;
            font-size: 20px;
            margin: 0;
        }

        .login-form1 label,
        .login-form1 input,
        .login-form1 button {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="logo">
            <p style="color: white; font-size: 40px; margin: 0;">EGOV | 1414</p>
        </div>
        <a href="/" class="register-link">Войти</a>
    </div>
    <h1>Ошибка</h1>
    <h2>{{ error_message }}:<a href="javascript:history.back()" class="nav-button">Назад</a>

    <div class="content">
        <p>Ошибка: {{ error_message }}</p>
    </div>
    <div class="footer">
        © Электронное правительство Республики Казахстан
    </div>
</body>
</html>
