<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged In</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .header {
            background-color: #333;
            border-bottom: 1px solid #000000;
            height: 100px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 20px;
        }

        .nav-buttons-left {
            display: flex;
            align-items: center;
            
        }

        .nav-buttons-right {
            display: flex;
            align-items: center;
        }

        .nav-button {
            margin-right: 20px;
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            padding: 10px 15px;
            border-radius: 5px;
            background-color:  #4CAF50;
            transition: background-color 0.3s ease;
        }

        .nav-button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="nav-buttons-left">
            <a href="/profile/{{ user_data.id }}" class="nav-button" id="viewProfileButton" >Профиль</a>
            <a href="/request/{{user_data.id}}" class="nav-button">Сервисы</a>
        </div>
        <div class="nav-buttons-right">
            <a href="/login" class="nav-button">Выйти с аккаунта</a>
        </div>
    </div>
</body>
</html>
