<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Change Requests</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYCenqH+C42V5YkzoAAS27TOWb+JbmmiRh2qAOnm4G5zhTNqBmbJn/Beqaz0Lq4pc" crossorigin="anonymous">
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .header {
            background-color: #333;
            border-bottom: 1px solid #000000;
            padding: 10px 20px;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .buttons{
            display: flex;
            justify-content: space-between;
        }

        .nav-buttons-right a {
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            padding: 10px 15px;
            border-radius: 5px;
            background-color:  #4CAF50;
            transition: background-color 0.3s ease;
        }

        .nav-buttons-right a:hover {
            background-color: #45a049;
        }

        h1{
            color: white;
        }
        h2 {
            color:black;
        }

        .request-container {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }

        button.reject-btn {
            padding: 8px 12px;
            margin-right: 5px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            background-color: #FF4136;
            color: #fff;
            transition: background-color 0.3s ease;
        }

        button.reject-btn:hover {
            background-color: #E63946;
        }

        button.approve-btn {
            padding: 8px 12px;
            margin-right: 5px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            background-color: #2ECC40;
            color: #fff;
            transition: background-color 0.3s ease;
        }

        button.approve-btn:hover {
            background-color: #28A745;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Добро пожаловать, Manager</h1>
        <div class="nav-buttons-right">
            <a href="/login">Выйти с аккаунта</a>
        </div>
    </div>
    
    <h2>Заявки на изменение персональных данных пользователей</h2>

    {% if profile_change_requests %}
        {% for request in profile_change_requests %}
            <div class="request-container">
                <p><strong>Первоначальные данные: </strong>
                    {{ request.old_data }}
                </p>
                <p><strong>Новые данные: </strong>
                    {{ request.new_data }}
                </p>
                <div class="buttons">
                    <form method="post" action="/manager/profile_change_requests/{{ request.id }}/approve">
                        <button type="submit" class="approve-btn">Одобрить</button>
                    </form>
                    <form method="post" action="/manager/profile_change_requests/{{ request.id }}/reject">
                        <button type="submit" class="reject-btn">Отказать</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>На данный момент нет активных заявок</p>
    {% endif %}
</body>
</html>
