<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .profile-container {
            text-align: center;
        }
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #333;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
        }

        p {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        button, a {
            display: inline-block;
            padding: 10px;
            background-color: #4CAF50;
            color: #fff;
            text-decoration: none;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        button:hover, a:hover {
            background-color: #45a049;
        } 
        .profile-container img {
            max-width: 100%;
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <div class="content">
            {% if user_data %}
            <div class="profile-container" id="profileContainer">
                {% if user_data.gender == "male" %}
                    <img src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png" alt="User Avatar" width="300" height="300">
                {% elif user_data.gender == "female" %}
                    <img src="https://w7.pngwing.com/pngs/129/292/png-transparent-female-avatar-girl-face-woman-user-flat-classy-users-icon.png" alt="User Avatar" width="300" height="300">
                {% endif %}
                <h2>{{ user_data.name }}</h2>
                <p>ИИН: {{ user_data.iin }}</p>
                <p>Фамилия: {{ user_data.sur_name }}</p>
                <p>Номер телефона: {{ user_data.phone_number }}
                {% if user_data.gender == "male" %}
                    <p>Пол: Мужской</p>
                {% elif user_data.gender == "female" %}
                    <p>Пол: Женский</p>
                {% endif %}
                <p>О себе: {{ user_data.about_me }}</p>
                <p>Образование: {{ user_data.education }}</p>
                <p>Дата рождения: {{ user_data.birthdate }}</p>
            <a href="/logged/{{ user_data.id }}" class="register-link">Назад на главную</a>
            </div>
            {% else %}
                <p>Данные недоступны</p>
            {% endif %}
    </div>
</body>
</html>

