<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заявка одобрена</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-success">Заявка одобрена!</h1>
        <hr>
        <div class="alert alert-success">
            Заявка обработана. Персональные данные пользователя - {{ user_data.name }} успешно изменены.
        </div>
        <div class="d-flex justify-content-center">
            <a href="/manager/profile_change_requests/" class="btn btn-primary">Назад к странице заявок</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
