<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Submitted</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Ваша заявка принята, ожидайте</h1>
        <p class="lead text-center">Мы рассмотрим вашу заявку и постараемся принять решение как можно скорее!</p>
        <div class="d-flex justify-content-center">
            <a href="/profile/{{user_data.id}}" class="btn btn-primary">Назад к профилю</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
