<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-color: #f0f0f0;
        }

        .nav-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #333;
            color: #fff;
        }

        .nav-buttons a {
            text-decoration: none;
            color: #fff;
            font-size: 16px;
            margin: 0 10px;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: #4CAF50;
            transition: background-color 0.3s ease;
        }

        .nav-buttons a:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="nav-buttons">
        <div>
            <a href="/profile/{{ user_data.id }}/edit">Заявка на изменение персональных данных</a>
        </div>
        <div>
            <a href="/profile/{{ user_data.id }}/stat">Заявка на поиск по БИН компании</a>
        </div>
        <div>
            <a href="/logged/{{ user_data.id }}">На главную</a>
        </div>
    </div>
    <h1>Запросы на изменение профиля</h1>
    <ul>
        {% for profile_change_request in profile_change_requests %}
            <li>
                ID: {{ profile_change_request.id }}<br>
                ID пользователя: {{ profile_change_request.user_id }}<br>
                Поле для изменения: {{ profile_change_request.old_data | safe }}<br>
                Новое значение: {{ profile_change_request.new_data | safe }}<br>
                Статус: 
                {% if profile_change_request.status == "rejected" %}
                    <span style="color: red;">{{ profile_change_request.status }}</span>
                {% elif profile_change_request.status == "approved" %}
                    <span style="color: green;">{{ profile_change_request.status }}</span>
                {% else %}
                    <span style="color: Blue ;">{{ profile_change_request.status }}</span>
                {% endif %}
                <br>

                Создано: {{ profile_change_request.created_at }}<br>
                <hr>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
