<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stat API Integration</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-color: #f0f0f0;
        }

        h2 {
            color:white;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }

        label {
            font-size: 18px;
            margin-bottom: 10px;
        }

        input {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 20px;
            width: 300px;
        }
        .header {
            background-color: #333;
            border-bottom: 1px solid #000000;
            height: 100px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 20px;
        }
        button, a {
            display: inline-block;
            padding: 10px;
            background-color: #4CAF50;
            color: #fff;
            text-decoration: none;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
    
        button:hover, a:hover {
            background-color: #45a049;
        }

        button.goBack {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h2>Поиск компании по БИН</h2>
    </div>
    <form method="post" action="/profile/{user_id}/stat">
        <label for="bin_number">БИН:</label>
        <input type="number" id="bin_number" name="bin_number" required>
        <br>
        <br>
        <button type="submit">Поиск</button>
        <div>
            <a href="/request/{{user_data.id}}" class="nav-button" id="backBtn">Отмена</a>
        </div>
    </form>

    <br>
    <script>
        async function validateForm() {
            // Получаем значение БИН из поля ввода
            const binInput = document.getElementById('bin_number');
            const binValue = binInput.value;

            // Отправляем запрос на проверку компании
            const response = await fetch(`/api/check_company?bin=${binValue}`);
            const result = await response.json();

            // Получаем кнопку
            const submitBtn = document.getElementById('submitBtn');

            // Если компания не найдена
            if (!result.success) {
                // Выводим сообщение о том, что компания не найдена
                binInput.setCustomValidity('Компания не найдена');

                // Делаем кнопку неактивной
                submitBtn.disabled = true;
            } else {
                // Если компания найдена, снимаем сообщение об ошибке
                binInput.setCustomValidity('');

                // Активируем кнопку
                submitBtn.disabled = false;
            }

            return true;
        }
    </script>
</body>
</html>
