<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            margin-top:20px;
        }
        .profile-container {
            text-align: center;
        }
        body {
            font-family: Arial, sans-serif;
        }

        h2 {
            color: #333;
        }
        
        p {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
            color: #333;
        }

        button, a {
            display: inline-block;
            padding: 10px;
            background-color: #4CAF50;
            color: #fff;
            text-decoration: none;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            margin-top: 10px;
        }

        button:hover, a:hover {
            background-color: #45a049;
        }

        button.goBack {
            margin-top: 20px;
        }

        .profile-container img {
            max-width: 100%;
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <div class="content">
        {% if company_data_1.success or company_data_2.success%}
        <div class="profile-container" id="profileContainer">
            <h1>Информация о компании</h1>
            <p><strong>Наименование:</strong> {{ company_data_1.obj.name }}</p>
            <p><strong>БИН:</strong> {{ company_data_1.obj.bin }}</p>
            <p><strong> Код основного вида деятельности организации:</strong> {{ company_data_1.obj.okedCode }}</p>
            <p><strong>Наименование основного вида деятельности организации:</strong> {{ company_data_1.obj.okedName }}</p>
            <p><strong>организационно-правовая форма:</strong> {{ company_data_2.Opf }}</p>
            <p><strong>Уровень государственной вовлеченности в предприятие (в процентах):</strong> {{ company_data_2.StateInvolvement }}</p>
            <p><strong>Статус:</strong> {{ company_data_2.Status }}</p>
            <h1>Информация о владельце</h1>
            <p><strong>Имя владельца:</strong> {{ company_data_1.obj.fio }}</p>
            <p><strong>Is Individual Entrepreneur:</strong> {{ company_data_1.obj.ip }}</p>
            <p><strong>БИН владельца предприятия:</strong> {{ company_data_2.OwnerBin }}</p>
            <p><strong>БИН органа государственной власти, которому подчинена организация:</strong> {{ company_data_2.OguBin }}</p>

            <h1>Информация о местоположении</h1>
            <p><strong>KATO Code:</strong> {{ company_data_1.obj.katoCode }}</p>
            <p><strong>Адрес:</strong> {{ company_data_1.obj.katoAddress }}</p>
            <br>
            <button onclick="goBack()">Назад</button>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>
        {% else %}
            <p>Ошибка, компания не найдена.</p>
            <br>
            <button onclick="goBack()">Назад</button>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        {% endif %}

    </div>
    
    
    

</body>
</html>
